.order__container{
    padding:5px 100px 5px 100px;
    box-shadow:3px 5px 20px rgba(0, 0, 0, 0.15);
}

.order-info{
    display: flex;
    justify-content: space-between;
    margin-top:-20px
}


h4{
    color:#78716c;  
}

h3{
    color:#1c1917; 
}

.back-btn{
    text-align: center;
    border-radius: 20px;
    color:#064e3b;
    border:2px solid #064e3b;
    margin-right: 15px;
    height: 42px;
    width:80px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;

}

.approve-btn{
    background-color: #064e3b;
    color:#fff;
    text-align: center;
    border-radius: 20px;
    height: 42px;
    width:150px;
    font-weight: bold;
    cursor: pointer;
}